@media only screen and (min-width: 500px) {
    /* BACKGROUND IMAGE */
#logoRTC {
    width: 100%;
    /*filter: blur(2px);*/
}
.container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 230px auto 250px;
}

/* SOFTSKILLS ON THE LEFT */
.left {
    background: #ff8067;
    text-align: center;
    height: 103%;
}
#softSkills {
    padding: 0%;
}
#softSkills li {
    margin: 30px;
    padding: 5px;
    list-style: none;
    background: #f14343;
    /*border: 2px solid rgb(0, 0, 0);*/
}

/* MAIN IN THE CENTER */
.mainContent {
    background: #ffae68;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 9px;
    height: 103%;
}
.mainContent .content {
    display: none;
}
.mainContent .content.active {
    display: block;
}
.mainContent h2 {
    text-align: center;
}
#p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 9px;
}
#purpose, #fonctionalities, #languages {
    border: 2px solid black;
    border-radius: 10px;
    padding: 6px;
}
#softwares {
    border: 2px solid black;
    border-radius: 10px;
    padding: 6px;
}
#prez {
    border: 2px solid black;
    border-radius: 10px;
    padding: 6px;
    grid-column: 1/3;
}

#planningRugby {
    width: 100%;
    height: 20%;
}

th, td {
    border: 2px solid black;
}

/* DOCUMENTS ON THE RIGHT */
.right {
    background: #ff8067;
    text-align: center;
    height: 103%;
}
.right .btn.active {
    background: rgb(255, 1, 1);
}
#docs {
    padding: 0%;
}
#docs li {
    padding: 9px;
    width: 70%; /* mettre les li au centre de la div */
    list-style: none;
    text-align: center;
    cursor: pointer;
}
#docs li:hover {
    background: rgb(255, 1, 1);
    color: white;
    border: 2px solid #f57011;
    text-shadow: 2px 2px 4px rgb(52, 52, 52);
}
#docs li:hover img {
    display: block;
}
#docs img {
    display: none;
}

/* SNIPPET OF CODE */
#codeImages {
    width: 700px;
    height: 500px;
    margin-top: 30px;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.code {
    width: 800px;
}

footer {
    margin-top: 15%;
}
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1200px) {
    .preview {
        width: 90%;
    }

    body {
        margin: 0;
        font-family: Helvetica, sans-serif;
    }    
    .imageSlider {
        min-height: 30em;
        height: 100vh;
        position: relative;
        background-image: url(/img/ticketClarilog/01\ Seyssins.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 0.3s;
        margin: 20px;
    }
    .imageSlider * {
        box-sizing: border-box;
    }
    .caption {
        background: linear-gradient(
            rgb(0,0,0,0),
            #000
        );
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 4em 1em 2em 1em;
        text-align: center;
    }
    .caption h3 {
        margin: 0;
        color: #fff;
    }
    p {
        color: #000000;
    }
    .arrowLeft, .arrowRight {
        background: #fff;
        position: absolute;
        top: 40%;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
    }
    .arrowLeft:hover, .arrowRight:hover {
        background: #000;
        color: #fff;
    }
    .arrowLeft {
        right: 1em;
    }

    .imageFade {
        animation: imgFade 0.5s ease-in-out;
    }
    @keyframes imgFade {
        0% {opacity: 0;}     
        100% {opacity: 1;}   
    }

    .pcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #preview {
        width: 700px;
        height: 400px;
        margin-top: 30px;
        overflow: scroll;
            scrollbar-width: thin;
    }
}